@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
body{
    line-height: 1.5;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}



html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}


header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
}

header .logo{
    font-size: 2.5rem;
    font-weight: border;
    color: #666;
}

header .logo i{
    padding-right: .5rem;
    color: var(--red);
}

header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
}


header .navbar a:hover{
    color: var(--red);
}

#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border:.1rem solid #666;
    border-radius: .3rem;
    padding:.5rem 1.5rem;
    display: none;
}



.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
    font-size: 1.5rem;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
    font-size: 2rem;
}
.product-detail p{
    font-size: 1.5rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 2rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}

.container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}


.order{
    position: fixed;
    top: 5%;
    left: 30%;
    transform: translate(-50% -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0, .30);
    background:rgba(237, 237, 237, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#order.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.order .row{
    padding: 2rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0, .1);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem ;
    border-radius: .5rem;
}

.order .row .image{
    flex:1 1 30rem;
}

.order .row .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:  .5rem;
}

.order .row form{
    flex:1 1 50rem;
    padding: 1rem;
}

.order .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order .row form .inputBox input, .order .row form textarea{
    padding:1rem;
    margin:1rem 0;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0, .3);
    border-radius: .5rem;
    width: 49%;
}
.order .row form textarea{
    width: 100%;
    resize: none;
    height:10rem;
}

.order .row form .btn{
    background: none;
    width: 23rem;
    height: 3.5rem;
    font-size: 1.5rem;
}

.order .row form .btn:hover{
    background: var(--red);
}

.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}
.heading span{
    color: var(--red);
}
.btn-action{
    display: flex;
    justify-content: space-between;
}
